@charset "UTF-8";


.navbar-inverse {
    background-color: #F28730;
    border-color: #F28730;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover{
	background-color: #F28730;
	color: #000;
}
.addidasimg{
	width: 90px;
	height: 55px;
}
.navbar-inverse .navbar-nav > li > a {
    color: #000;
}
.navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
    color: #000;
    background-color: transparent;
}
nav{
	height: 60px;

}
.position{
	position: relative;
}
.background{
	background-color:#19293C;

}
.text-color{
	color: #fff;
}
.text-color-2{
	color: #F28730;
}
.padding-all{
	padding: 40px;
}
.socpitchsize{
	height: 350px;
}
.bbbutton{
	width: 300px;
	height: 70px;
	background: #030B22;
	opacity: 0.8;
	position: absolute;
	top: 120px;
	left: 120px;
	text-align: center;
		
}

.buttontxt{
	font: normal;
	text-decoration: none;
	text-align: center;
}
.padding-all-2{
padding: 80px;
}
.height-event{
	height: 380px;
}
.socpitchsize{
	height: 350px;
}
.margin-bot{
	margin-top: 150px;
}
.bg-new{
	background-color: #7AA2BE;
}
.margin-to{
	margin-top: 100px;
}
/* contact us css */
.pad-con{
	padding: 30px;
}
.youtube{
	float: right;
}
.bg-new-2{
	background-color: #19293C;
}
input[type="text"] {
	width: 300px;
	height: 30px;
}
input[type="email"] {
	width: 300px;
	height: 30px;
}
input[type="submit"] {
	width: 300px;
	height: 30px;
}
.text-center{
	text-align: center;
	text-decoration: none;
}
.margin{
	text-align: center;
}

